.HomePageBackground {
  height: 50vh;
  background-color: antiquewhite;
  background-image: url('/stock-market.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: flex;
  flex-direction: row;
}
